ion-item {
    --background: #fdf6aa;
}

.texto {
    font: oblique bold 5vw;
}

.cambiarTamano {
    font-size: 165%;
    margin-left: 5%;
}

.colocarEtiqueta {
    position: relative;
    left: 5%;
    top: -15%;
    font-size: 1.2em;
}